<form action="/search/{{characters.id}}/edit" method="post">
    <label for="">
        Name
        <input type="text" value="{{characters.name}}" name="name">
    </label>
    <label for="">
        Occupation
        <input type="text" value="{{characters.occupation}}" name="occupation">
    </label>
    <label for="">
        Weapon
        <input type="text" value="{{characters.weapon}}" name="weapon">
    </label>
    <button>
        Change
    </button>
</form>